.flash-message-container {
  // background-color: hotpink;
  background: linear-gradient(90deg,hotpink 1.56%,rgb(233, 59, 146));
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  transition: height .4s;
  height: 4rem;

  .message {
    font-size: 1rem;
    transition: opacity .4s;
    text-align: center;
    margin: 0 6rem;
    line-height: 1.2rem;
  }

  .close-button {
    position: absolute;
    right: 24px;
    // top: 16px;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    opacity: .75;
    transition: opacity .15s;

    path {
      stroke: white;
    }

    &:hover {
      opacity: 1;
    }
    // position: absolute;
    // right: 1rem;
    // font-size: 1rem;
    // margin: 0;
    // padding: 0;
    // cursor: pointer;
    // transition: opacity .4s;
    // text-decoration: underline;
  }

  &.hidden {
    height: 0px;

    .message, .close-button {
      opacity: 0;
    }
  }
}
