.sinewave-container {
  position: relative;
  height: 110px;
  width: 100%;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px;
  background-color: white;

  .title-container {
    margin: 0 0 8px 0;
    text-transform: uppercase;
    font-size: 12px;
    user-select: none;
  }

  .button-enable {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
      circle {
        fill: lightgrey;
  
        &.enabled {
          fill: #75e275;
        }
      }
    }
  }

  .body-container {
    display: flex;

    canvas {
      width: 50%;
      height: 90px;
      margin-right: 15px;
    }
  
    .controls-container {
      display: flex;
      justify-content: space-around;

      .mode-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
        
      .output-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

    }
  }
}