.sinewave-container {
  position: relative;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 15px;
  background-color: white;
  pointer-events: all;
  width: fit-content;

  // .title-container {
  //   margin: 0 0 8px 0;
  //   text-transform: uppercase;
  //   font-size: 12px;
  //   user-select: none;
  // }

  .body-container {
    display: flex;

    canvas {
      width: 360px;
      height: 70px;
      margin-right: 15px;
    }
  
    .controls-container {
      display: flex;
      justify-content: space-around;
      width: 370px;

      .mode-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 15px;
      }
        
      .output-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 15px;
      }
    }
  
    .side-controls-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .button-enable {
        cursor: pointer;
    
        svg {
          width: 30px;
          height: 30px;
          circle {
            fill: lightgrey;
      
            &.enabled {
              fill: #75e275;
            }
          }
        }
      }

      .button-collapse {
        position: absolute;
        bottom: 15px;
        cursor: pointer;

        svg {
          width: 10px;
          height: 25px;

          g {
            fill: silver;
          }
        }

      }
    }
  }

  &.collapsed {
    .body-container {
      .controls-container {
        display: none;
      }

      .side-controls-container {
        .button-collapse {
          transform: rotate(180deg);
        }
      }
    }
  }
}