.map-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
  
  .map { 
    height: 100%;
    width: 100%;
  }

  .collapse-button {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 15px;
    right: 15px;
    background-color: #eaeaea;
    border-radius: 5px;

    &:hover {
      background-color: #dadada;
    }
  }

  &.collapsed {
    position: relative;
    user-select: none;
    height: 80px;
    width: 250px;
    
    .map {
      user-select: none;
    }
  }
}
