
.controls-container {
  display: flex;
  flex: 1;
  justify-content: space-around;

  .mode-container {
    max-width: 300px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    // margin-right: 15px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: white;
    margin-right: 7px;
    
    label {
      display: inline-block;
      white-space: nowrap;
    }
  }
  
  .output-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
    border-radius: 3px;
    background-color: white;
    // margin-right: 15px;
    margin-right: 7px;

    .button-enable {
      cursor: pointer;
  
      svg {
        width: 30px;
        height: 30px;
        circle {
          fill: lightgrey;
    
          &.enabled {
            fill: #75e275;
          }
        }
      }
    }
  }
}

.side-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-collapse {
    position: absolute;
    bottom: 15px;
    cursor: pointer;

    svg {
      width: 10px;
      height: 25px;

      g {
        fill: silver;
      }
    }

  }
}


  // &.collapsed {
  //   .body-container {
  //     .controls-container {
  //       display: none;
  //     }

  //     .side-controls-container {
  //       .button-collapse {
  //         transform: rotate(180deg);
  //       }
  //     }
  //   }
  // }
