
.sinewave-container {
  display: flex;
  justify-content: center;
  // margin-top: 15px;
  width: 100%;
  height: 104px;
  background-color: #dedede;
  border-radius: 4px;
  padding: 7px;

  .canvas-wrapper {
    position: relative;
    border-radius: 3px;
    width: 50%;
    // max-width: 500px;
    height: 90px;
    overflow: hidden;
    margin-right: 7px;

    .read-head {
      position: absolute;
      width: 2px;
      background-color: orange;
      left: 50%;
      height: 50%;
      bottom: 0;
    }

    .lookahead-head {
      position: absolute;
      width: 1px;
      left: 275px;
      background-color: rgb(255, 0, 0);
      height: 100%;
    }

    .sine-div {
      position: absolute;
      height: 100%;
      background-repeat-y: no-repeat;
      background-position: left bottom;
      background-repeat-x: no-repeat;

      &.disabled {
        filter: grayscale(1);
      }
    }

    .label {
      position: absolute;
      bottom: 3px;
      left: 3px;
      font-family: sans-serif;
      font-size: 10px;
      letter-spacing: 0.3px;
      color: black;
      background-color: #ffffff7a;
      padding: 1px 3px;
    }

    &.disabled {
      filter: greyscale(1);
    }
  }

  .beat-indicator {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30%;
    height: 100%;
    margin-right: 7px;
    overflow: hidden;
    cursor: pointer;

    canvas {
      display: block;
      width: 100%;
      height: 70%;
      border-radius: 4px;
      margin: 0;
      padding: 0;
    }

    &.disabled {
      filter: grayscale(1);
    }
  }


  .output-value-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    border-radius: 3px;
    background-color: white;
    margin-right: 7px;
    min-width: 7rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;

    .value-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .label {
        font-size: .65rem;
        color: dimgrey;
        margin-bottom: .15rem;
      }
      
      .value {
        font-size: .75rem;
        min-height: 1rem;
        // min-width: 3rem;
        text-align: center;
        // margin-bottom: .15rem;
      }
    }
  }


  .output-container {
    display: flex;
    // flex: 1 0 90px;
    max-width: 90px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    border-radius: 3px;
    background-color: white;
    margin-right: 7px;

    .button-enable {
      cursor: pointer;
  
      svg {
        width: 30px;
        height: 30px;
        circle {
          fill: lightgrey;
    
          &.enabled {
            fill: #75e275;
          }
        }
      }
    }

    .channel-select {
      flex-direction: column;

      label {
        margin-bottom: 7px;
      }

      select {
        margin: 0;
      }
    }
  }
}
