.toolbar {
  display: flex;
  pointer-events: all;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: white;
  border-radius: 3px;
  margin-top: 7px;

  .button-global-run {
    cursor: pointer;
  }
}

