.toolbar {
  display: flex;
  pointer-events: all;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 4px;
  // margin-top: 7px;
  // border-top: 1px solid darkgrey;
  background-color: #eaeaea;

  .global-speed { 
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      // color: white;
      // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      // background: #3071a9;
      border-radius: 1.3px;
      // border: 0.2px solid #010101;
    }
    
    // input[type=range]:focus::-webkit-slider-runnable-track {
    //   background: #bdbb36;
    // }
  }

  .button-global-run {
    cursor: pointer;
  }


}

